
body {
  background-color: rgb(38,41,53); color: rgb(233,230,229);
  margin: 20px 0 60px 0;
}


.headshot, .main, .foot {
  display: flex; min-height: 64px; max-width: 300px;
  padding: 5px; font-family: "Inter", Arial;
  margin: 0 auto 0 auto; box-shadow: 3px 3px 7px 2px rgba(17, 19, 27, .55);}
.headshot img {max-width: 300px; }
.headshot {background-color: rgb(25,27,37); border-radius: 8px 8px 0 0;}


.main {
  min-height: 360px; max-width: 246px; background-color: rgb(25,27,37); 
  flex-direction: column;  align-items: center; padding: 15px 32px; font-size: 1.1rem;
  }

h2, h3, h4, h6 {margin: 10px 0;}

.buttons {margin: 15px}
#button1, #button2 { 
  border-radius: 5px; margin: 10px 10px; text-decoration: none;
  }
#button1 {background-color: rgb(220, 220, 232); color: rgb(30,20,20); padding: 6px 23px;}
#button2 {background-color: rgb(48, 118, 255); color: rgb(233,230,229); padding: 6px 13px}
#button1:hover, #button2:hover {box-shadow: 2px 2px 2px 2px rgba(50, 52, 63, .65);}
#button1:hover {background-color: rgb(233, 233, 243); color: rgb(25,10,10);}
#button2:hover {background-color: rgb(63, 133, 255); color: rgb(245,237,231);}

a:link {color: rgb(213,90,78); text-decoration: none;}
a:visited {color: rgb(220,140,83);}
a:hover {color: rgb(240,213,92);}
a:active {color: rgb(220,140,83);}

.button {min-width: 240px; }

.foot {
  border-radius: 0px 0px 8px 8px; background-color: rgb(22,24,31); 
  justify-content: center;
  }
.hide {display: none}
.icon {height: 32px; padding: 10px 15px;}


@media screen and (min-width: 600px) {
  .headshot, .main, .foot {
    max-width: 430px; font-size: 1.25rem;
  }
  .headshot img {max-width: 430px;}
  .main {max-width: 375px;}
  .buttons {margin: 25px}
  #button1, #button2 {margin: 10px 25px;}
  #button1 {padding: 6px 35px;}
  #button2 {padding: 6px 25px;}
  .icon {height: 48px;}
}